
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  
}

/* --------Navbar container-------- */
.navbar {
  display: flex;
  height: 93px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  margin: 0 65px;
  
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
 
}

.logo img {
  height: 40px;
  width: 370px; 
  height: 54px; 
  margin-top: 39px;

}

.logo .logo-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 8px;
  font-style: italic;
  padding-left: 64px;
  padding-top: 39px;
}

/* Navigation links */
.nav-links {
  display: flex;
  list-style: none;

  margin-top: 54px;
  
}

.nav-links li {
  margin: 0 15px;
  padding: 3px auto;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 22.5px;
}
.nav-links a:hover{
  color: red;
}

/* Right icons container */
.right-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  margin-right: 0;
 
}

/* Social icons */
.social-icons {
  
  display: flex;
  margin-bottom: 10px;
  margin-top: 15.5px;
  gap: 10px;
 
}

.social-icons a {
  margin: 0 10px;
  color: #000000;
  fill: #000;

  text-decoration: none;
}

/* Notification and profile */
.profile {
  display: flex;
  align-items: center;
  width: 160px;
  height: 29px;

  
 
}

.notification {
  position: relative;
  margin-right: 20px;
  font-size: 20px;
}

/*.notification .notification-count {
  position: absolute;
  top: -2px;
  right: -10px;
  background-color: #00b300;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}*/

.profile-link {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.profile-icon {
  width: 18px;
  height: 18px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 8px;
}

.profile-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/* Under-text container */
.under-text-container {
  padding: 10px 20px;
  display: flex;
  justify-content: right;
  font-size: 1rem;
  margin-right: 65px;
}

.under-text {
  font-size: 10px;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-size: 10px;
  opacity: 50%;

}
.under-text:hover{
  opacity: 1;
  color: #000000;
}

/*-------- Booking Section------- */

.booking-section {
  margin-top: 28px;
  background-image: url(./Assets/red-bg-vector.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 20px 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.location-select {
  display: flex;
  gap: 16px; 
  width: 100%;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.pickup-option, .dropoff-option {

  font-weight: 400;
  font-size: 14px;
  margin-right: 20px;
  line-height: 1.5; 
  opacity: 0.5;
  border-bottom: 1px solid transparent;

}

.pickup-option:hover, .dropoff-option:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  cursor: pointer;
}

.vehicle-select {
  width: 100%; 
  max-width: 200px; 
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px; 
  border-radius: 25px;
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin-top: -9px;
}

.dropdown-select {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
}
.dropdown-select option{
  color: #ffffff;
  background-color: #d71f26;
}

.vehicle-select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

}

/* Booking Form */
.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.form-item {
  width: 188px;
  background-color: white;
  padding: 8px 12px; 
  border:  1px solid white;
  border-radius: 30px; 
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;

  box-sizing: border-box;
}
.form-item input{
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;
  
}
/* hide date time picker */
.form-item input[type="date"]::-webkit-calendar-picker-indicator,
.form-item input[type="time"]::-webkit-inner-spin-button {
    display: none;
}

.form-item input[type="time"] {
    -webkit-appearance: none; 
    appearance: none; 
}

.form-item input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.form-item input[type="date"]::-webkit-inner-spin-button,
.form-item input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; 
}
.q-book{
  background-color: transparent;
}
.q-book .quick-book{
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.icon-location, .icon-calendar, .search-icon {
  margin-right: 8px;
  font-size: 18px;
  
}

.dropdown-select-booking {
  border: none;
  background: transparent;
  font-size: 14px; 
  outline: none; 
  color: #000000; 
  width: 100%; 
  padding: 5px; 
  border-radius: 30px; 
  cursor: pointer; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
  background-color: white;
  box-sizing: border-box;
  
}
.dropdown-select-booking option{
  width: 800px; 
  padding: 5px; 
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
   background-color: white; 
}

.dropdown-select:focus {
  outline: none;
  
}

.search-icon {
  height: 42px;
  width: 64px;
  background-color: white; 
  border-radius: 25px; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.search-icon-button {
  background: none; 
  border: none;
  padding: 0; 
  cursor: pointer;
  height: 100%; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-book {

  padding: 8px 16px;
  background-color: white; 
  color: #d71f26; 
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px; 
  text-align: center; 
  font-weight: bold; 
  cursor: pointer;
  flex: 1; 
  box-sizing: border-box;
  
}

.dropdown-icon {
  margin-left: 8px;
  font-size: 18px; 
}

.vertical-line {
  width: 1px;
  height: auto;
  background-color: white;
}

.app-download {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin: 35px auto;
  gap: 15px;
   font-weight: 300;
   font-size: 14px;
  color: #ffffff;
}

.app-download span {
  margin-right: 15px; 
}

.store-buttons {
  display: flex; 
  gap: 10px; 
}

.store-buttons img {
  width: 109.87px; 
  height: 32px; 
}
.banner-section{
  height: 500px;
  margin: 0 auto;
  margin-left: 65px;
  margin-right: 65px;
  border-radius: 23px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.banner-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* banner Content */
.banner-content {
  position: absolute;
  top: 75%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  color: white;
}

.banner-content h1 {
  margin-bottom: 15px; /* Space between text and button */
  font-size: 24px; /* Adjust the text size */
}

.banner-content button {
  padding: 10px 20px;
  background-color: #007BFF; /* Button background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.banner-content button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}