* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;


}

/* --------Navbar container-------- */
.navbar {
  display: flex;
  height: 93px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  margin: 0 65px;

}

/* Logo section */
.logo {
  display: flex;
  align-items: center;

}

.logo img {
  height: 40px;
  width: 370px;
  height: 54px;
  margin-top: 39px;

}

.logo .logo-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 8px;
  font-style: italic;
  padding-left: 64px;
  padding-top: 39px;
}

/* Navigation links */
.nav-links {
  display: flex;
  list-style: none;

  margin-top: 54px;

}

.nav-links li {
  margin: 0 15px;
  padding: 3px auto;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 300;
  line-height: 22.5px;
}

.nav-links a:hover {
  color: red;
}

/* Right icons container */
.right-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0;

}

/* Social icons */
.social-icons {

  display: flex;
  margin-bottom: 10px;
  margin-top: 15.5px;
  gap: 10px;

}

.social-icons a {
  margin: 0 10px;
  color: #000000;
  fill: #000;

  text-decoration: none;
}

/* Notification and profile */
.profile {
  display: flex;
  align-items: center;
  width: 160px;
  height: 29px;



}

.notification {
  position: relative;
  margin-right: 20px;
  font-size: 20px;
}

/*.notification .notification-count {
  position: absolute;
  top: -2px;
  right: -10px;
  background-color: #00b300;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}*/

.profile-link {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.profile-icon {
  width: 18px;
  height: 18px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 8px;
}

.profile-name {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/* Under-text container */
.under-text-container {
  padding: 10px 20px;
  display: flex;
  justify-content: right;
  font-size: 1rem;
  margin-right: 65px;
}

.under-text {
  font-size: 10px;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-size: 10px;
  opacity: 50%;

}

.under-text:hover {
  opacity: 1;
  color: #000000;
}

/*-------- Booking Section------- */

.booking-section {
  margin-top: 8px;
  background-image: url(./Assets/red-bg-vector.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 20px 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.location-select {
  display: flex;
  gap: 16px;
  width: 100%;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.pickup-option,
.dropoff-option {

  font-weight: 400;
  font-size: 14px;
  margin-right: 20px;
  line-height: 1.5;
  opacity: 0.5;
  border-bottom: 1px solid transparent;

}

.pickup-option:hover,
.dropoff-option:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  cursor: pointer;
}

.vehicle-select {
  width: 100%;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  margin-top: -9px;
}

.dropdown-select {
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-select option {
  color: #ffffff;
  background-color: #d71f26;
}

.vehicle-select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

}

/* Booking Form */
.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
}

.form-item {
  width: 188px;
  background-color: white;
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex: 1;
  cursor: pointer;

  box-sizing: border-box;
}

.form-item input {
  outline: none;
  background-color: transparent;
  border: none;
  text-decoration: none;

}

/* hide date time picker */
.form-item input[type="date"]::-webkit-calendar-picker-indicator,
.form-item input[type="time"]::-webkit-inner-spin-button {
  display: none;
}

.form-item input[type="time"] {
  -webkit-appearance: none;
  appearance: none;
}

.form-item input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.form-item input[type="date"]::-webkit-inner-spin-button,
.form-item input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.q-book {
  background-color: transparent;
}

.q-book .quick-book {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.icon-location,
.icon-calendar,
.search-icon {
  margin-right: 8px;
  font-size: 18px;

}

.dropdown-select-booking {
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
  color: #000000;
  width: 100%;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  box-sizing: border-box;

}

.dropdown-select-booking option {
  width: 800px;
  padding: 5px;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.dropdown-select:focus {
  outline: none;

}

.search-icon {
  height: 42px;
  width: 64px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.search-icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quick-book {

  padding: 8px 16px;
  background-color: white;
  color: #d71f26;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  box-sizing: border-box;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.quick-book:hover {
  color: #ffffff;
  transform: translateY(-2px);
}

.dropdown-icon {
  margin-left: 8px;
  font-size: 18px;
}

.vertical-line {
  width: 1px;
  height: auto;
  background-color: white;
}

.app-download {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 35px auto;
  gap: 15px;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}

.app-download span {
  margin-right: 15px;
}

.store-buttons {
  display: flex;
  gap: 10px;
}

.store-buttons img {
  width: 109.87px;
  height: 32px;
}

/* banner Section */
.banner-section {
  height: 500px;
  margin: 0 auto;
  margin-top: 8px;
  margin-left: 65px;
  margin-right: 65px;
  border-radius: 23px;
  overflow: hidden;
  background-color: #f5f5f5;
}

.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* banner Content */
.banner-content {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;

  color: white;
}

.banner-content h3 {
  margin-bottom: -20rem;
  font-weight: 300;
  font-size: 18.37px;
  line-height: 26.91px;
  letter-spacing: 1.5px;
}

.banner-content button {
  padding: 10px 20px;
  background-color: #009046;
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner-content button:hover {
  background-color: #015027;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}



/* Popular Cars Section */
/*---------------------*/
.popular-cars-section {
  margin: 20px 0px;
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;


}

.popular-cars-section h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 34.74px;
  line-height: 52.11px;
  padding-bottom: 20px;
}

.car-cards-container {
  display: flex;
  width: 100%;
  scrollbar-width: none;
}

.car-cards-container::-webkit-scrollbar {
  display: none;
}

.car-card {
  display: flex;
  border: 1px solid #D9D9D9;
  background-color: #fff;
  width: 754px;
  height: 290px;
  flex: 0 0 auto;
  margin-right: 25px;
}

.car-image {
  width: 360px;
  height: 290px;
  object-fit: cover;
}

.car-details {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 394px;
}

.car-details h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 20px;

}

.car-details p {
  font-size: 16px;
  text-align: left;
  opacity: 80%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  margin-bottom: 10px;
}

.car-svg-container {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

.car-svg-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.car-svg {
  width: auto;
  height: 17px;
}

.car-svg-item span {
  opacity: 90%;
  font-weight: 500;
  font-size: 11px;
  white-space: nowrap;
}

.price-book-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.price-book-container span {
  font-size: 16px;
  font-weight: 600;
}

.price-book-container button {
  padding: 10px 20px;
  background-color: #e53935;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.price-book-container button:hover {
  background-color: #d30000;
  transform: translateY(-2px);
}

/* Subscribe Section */
.subscribe-container {
  margin: 20px 65px;
  padding: 40px;
  height: 506px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfd;
  color: #000000;
  border-radius: 10px;
}

.subscribe-left {
  flex: 1;
  padding-right: 80px;
}

.subscribe-left h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.form-input-subscribe {
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 223px;
  flex: 0 0 223px;
  background-color: #F8F8F8;

}

.subscribe-button {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 24px;
  background-color: #E21E26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
  width: 464px;
  height: 57px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.subscribe-button:hover {
  background-color: #b60805;
  transform: translateY(-2px);
}

/* Subscribe Right */
.subscribe-right {
  display: flex;
  align-items: center;
  background-color: #E21E26;
  padding: 20px;
  flex: 1;
}

.phone-mockup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-mockup img {
  max-width: 100%;
  height: 417px;

}

.phone-form {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  background-color: #E21E26;
  padding: 20px;
  border-radius: 10px;
  color: #333;
}

.phone-form p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21.5px;
  color: #ffffff;
}

.phone-form input {
  width: 263px;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
  background-color: #F8F8F8;
  border: none;
}

.form-input-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.phone-button {

  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 500px;
  font-size: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.phone-button:hover {
  color: #000000;
  background-color: #d71f26;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.app-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.app-buttons .app-button {
  width: 103px;
  height: 30px;
  margin-right: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.app-buttons .app-button:hover {
  transform: translateY(-2px);

}

/* Steps Section  */

.steps {
  padding: 40px;
  text-align: center;
}

.steps h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 51px;
  margin-bottom: 30px;
  color: #333;
}

.stpes-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.step {
  width: 348px;
  height: 178px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  border: 1px solid black;
}

.step-icon {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.step-icon img {
  width: 40px;
  height: 40px;
}

.step-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.5px;
}

@media (max-width: 768px) {
  .stpes-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Locations */
.locations {
  height: 325px;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  margin: 20px 65px;
  padding: 20px;

}

.locations h1 {
  margin: 50px 0px;
  font-weight: 400;
  font-size: 34px;
  line-height: 51px;
}

.location {
  display: inline-flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  gap: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;


}

.location img {
  margin-right: 10px;
  width: 22px;
  height: 28px;
}

.vertical-line-location {
  width: 1px;
  height: 30px;
  background-color: white;
}


/* FAQ Section */
.faq-container {
  width: 80%;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.faq-container h2 {
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 20px;

}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 10px;
}

.faq-answer {
  display: none;
  font-size: 14px;
  opacity: 80%;
  margin-top: 10px;
}

.faq-item.active .faq-answer {
  display: block;
}

.toggle-button {
  width: 24px;
  height: 24px;

}

.faq-item.active .toggle-button {
  content: url('./Assets/xicon.svg');

}

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  height: 303px;
}

footer .logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
  justify-content: flex-start;
}

footer .logo p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

footer .nav {
  display: flex;
  flex: 2;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .nav-section {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

footer .nav a {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
  font-size: 14px;
}

footer .social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social-links p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}

footer .social-links .icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links .icons a {
  display: inline-block;
}

.social-links .icons img {
  height: 17px;
  width: auto;
}

.social-links .security-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-links .security-icons img {
  height: 30px;
  width: auto;
}

/* New styles for copyright section */
footer .footer-bottom {
  text-align: center;
  padding-top: 20px;
}

footer .footer-bottom hr {
  width: 100%;
  border: none;
  border-top: 1px solid #fff;
  margin-bottom: 10px;
}

footer .footer-bottom p {
  font-size: 14px;
}